@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?5zaa5r");
  src: url("fonts/icons.eot?5zaa5r#iefix") format("embedded-opentype"), url("fonts/icons.ttf?5zaa5r") format("truetype"), url("fonts/icons.woff?5zaa5r") format("woff"), url("fonts/icons.svg?5zaa5r#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
