
//====================================================================================================
.header__top {
	
	
}
.top-header {
	padding: rem(20) 0;
	background-color: $mainDarkColor;
	color: #fff;
}
.top-header__container {
	display: flex;
	align-items: center;
	gap: rem(20);
	min-height: rem(50);
	@media(max-width: $tablet) {
		gap: rem(30);
	}
}

.top-header__menu {
	flex: 1 1 auto;
}

.menu {
	@media(max-width: $tablet) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
}

.menu__body {
	@media(max-width:  $tablet) {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(100) rem(15) rem(50) rem(15);
		transition: left 0.5s ease 0s;
		z-index: 1;
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			height: 70px;
			left: -100%;
			top: 0;
			background-color: $mainDarkColor;
			z-index: 1;
		}
		.menu-open & {
			left: 0;
			&::before {
				left: 0;
			}
		}
	}
}


.top-header__user {
	display: inline-flex;
	align-items: center;
	color: #fff;
	line-height: 18px;
	gap: em(15, 18);
	position: relative;
	z-index: 2;
	& span {
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 600;
	}
	&::before {
		font-size: 28px;
		
	}

}
.top-header__user span:hover {
	text-decoration: underline;
	color: $mainActionColor;
}

._icon-user:hover {
	color: $mainActionColor;
}
.top-header__user {
	@media(max-width: $tablet) {
		span {
			display: none;
		}
		&::before {
			font-size: rem(30);
		}
	}
}

.menu-top-header__list {
		display: flex;
		//для добавления большего количества меню
		row-gap: rem(5); 
		column-gap: calc(20px + (60 - 20) * ((100vw - 320px) / (1590 - 320)));//расчет при адаптиве
		@media(max-width: $tablet) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 25px;
			font-size: rem(20);
			}
			
		
	}
	
		
	
	//.menu-top-header__link
	.menu-top-header__link {
		color: #fff;
		display: flex;
		//font-size: 16px;
		line-height: (20 / 16);
		&:hover {
			text-decoration: underline;
			color: $mainActionColor;
		}
		
	}
	.menu-top-header__item {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		color: #fff;
		& span {
			white-space: nowrap;
			font-family: $fontfamily;
		}
		
		
		&::before {
			flex: 0 0 14px;
			height: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: rem(8);
			transform: rotate(-90deg);
			margin: 0px 0px 0px 30px;
		}
		
	}

@media(max-width: $tablet) {
	._icon-arrow:hover {
		text-decoration: none;
		color: $mainActionColor;
		& span:hover {
			text-decoration: underline;
		}
	}
	.menu-top-header__link_catalog {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

	.menu-top-header__link {
		
		&_catalog{
			@media(min-width: $tablet) {
				display: none;
				
			}
		}
	}
@media(max-width: $tablet) {
	.menu-top-header {
		display: none;
	}
}



//======================================================
.header {
	
	// .header__body

	&__body {
		
	// .header__catalog
	}
	&__catalog {
	}
}
.body-header {
	padding: rem(10) 0;
	background-color: #ECF1F2;
	// .body-header__logo
	& .container {
		display: flex;
		min-height: rem(70);
		align-items: center;
		@media(max-width: $tablet) {
			justify-content: space-between;
			flex: 1 1 auto;
		}
		@media(max-width: $mobileSmall) {
			justify-content: center;
		}
	}
	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		color: $mainDarkColor;
		
	}

	// .body-header__search

	&__search {
		flex: 1 1 auto;
		padding-right: rem(20);
		//padding-left: calc(20px + (158 - 130) * ((100vw - 320px) / (1400 - 320)));
		padding-left: calc(25px + (158 - 20) * (((100vw - 320px)) / ((1250 - 320))));
		@media(max-width:1250px) {
			padding-left: 20px;
		}
		@media(max-width: $mobileSmall) {
			padding: rem(20) 0;
		}
	}
}

.search-header {
	max-width: rem(377);
	background-color: rgba(7, 7, 7, 0.03);
	border-radius: rem(3);
	border: 1px solid rgba(4, 4, 4, 0.5);
	position: relative;
	@media(max-width: 992px) {
		min-width: 100%;
	}
	// .search-header__button

	&__button {
		position: absolute;
		background-color: transparent;
		height: rem(41);
		width: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: rem(8);
		font-size: rem(13);
		color: rgba(0, 0, 0, 0.5);
	}

	// .search-header__input

	&__input {
		width: 100%;
		background-color: transparent;
		border-radius: rem(3);
		height: rem(41);
		padding: 0px rem(20) 0px rem(50);
		&::placeholder{
			color: rgba(0, 0, 0, 0.5);
		}
		
	}
	@media(max-width: $mobileSmall) {
			background-color: #ECF1F2;
	}
}



//====================================================================================================
.body-header {

	// .body-header__actions

	&__actions {
		
	}
}
.actions-header {
	display: flex;
	align-items: center;
	column-gap: rem(30);
	@media(max-width: 1250px) {
		column-gap: calc(10px + (30 - 20) * ((100vw - 320px) / (1590 - 320)));
	}
	@media(max-width:992px) {
		display: none;
	}
	// .actions-header__location

	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		line-height: rem(22);
		font-size: rem(18);
		margin-right: rem(25);
		@media(max-width: 1250px) {
			margin-right: 0;
		}
		& span {
			font-family: $fontfamily;
		}
		& span:hover {
			text-decoration: underline;
			color: $mainActionColor;
		}
		&::before {
			font-weight: normal;
			font-size: rem(22);
			margin: 0px em(10, 24) 0px 0px;
		}
		
	}

	// .actions-header__phones

	&__phones {
		
	}

	// .actions-header__favorite

	&__favorite {
		position: relative;
		z-index: 2;
		font-size: rem(27);
		@media(max-width: $tablet) {
			color: #fff;
		}
	}

	// .actions-header__cart

	&__cart {
		flex: 0 0 auto;
	}
}

.phones-header {

	// .phones-header__items

	&__items {
	}

	// .phones-header__item
	&__item {
		position: relative;
		display: flex;
	}

	&__phone {
		font-weight: 600;
		white-space: nowrap;
		line-height: calc(22 / 18);
		position: relative;
		z-index: 2;
		&:before {
			@extend %ic;
			@extend ._icon-footer-phone;
			display: none;
		}
		@media(max-width: $tablet) {
			color: #fff;
			font-size: rem(20);
		}
		@media(max-width: $mobileSmall) {
			&::before {
				display: block;
				font-size: rem(28);
				
			}
			span {
				display: none;
			}
		}
	}

	// .phones-header__arrow

	&__arrow {
		color: $mainActionColor;
		font-size: rem(10);
		margin: 0px 0px 0px em(17, 16);
		transition: transform 0.3s ease 0s;
		@media(max-width:992px) {
			background-color: $mainDarkColor;
			display: none;
		}
	}
	& ._spoller-active {
		transform: rotate(-180deg);
	}
	// .phones-header__list

	&__list {
		position: absolute;
		text-align: center;
		top: 100%;
		width: 100%;
		left: 0;
		margin: rem(5) 0px 0px 0px;
		border-radius: rem(10);
		background-color: #fff;
		padding: rem(10);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		z-index: 2;
		li {
			&:not(:last-child) {
				margin-bottom: em(5, 18);
			}
		}
		a {
			color: #000;
		}
		@media(max-width: 992px) {
			display: none;
		}
	}

	// .phones-header__callback

	&__callback {
		margin: rem(3) 0px 0px 0px;
		font-weight: bold;
		font-size: rem(18);
		line-height: (22 / 18);
		color: $mainActionColor;
		&:hover{
			text-decoration: underline;
		}
		@media(max-width: $tablet) {
			background-color: $mainDarkColor;
			display: none;
		}
	}
}
.cart-header {
	display: flex;
	column-gap: 15px;
	align-items: center;
	// .cart-header__icon

	&__icon {
		flex: 0 0 37px;
		background: url('../icons/cart.svg');
		background-repeat: no-repeat;
		width: rem(32);
		height: rem(34);
		position: relative;
		span {
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 50%;
			width: rem(14);
			height: rem(14);
			background-color: $mainActionColor;
			color: #fff;
			font-size: rem(8);
			display: flex;
			align-items: center;
			justify-content: center;
			
		}
		@media(max-width:992px) {
			background: url('../icons/bascetW.svg');
			background-repeat: no-repeat;
			width: rem(32);
			height: rem(34);
			position: relative;
			z-index: 2;
		}
	}

	// .cart-header__body

	&__body {
		font-size: rem(16);
		line-height: (20/16);
		flex: 0 0 auto;
		 @media(max-width: em(1250)) {
			display: none;
		}
	}

	// .cart-header__summ

	&__summ {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: em(5,16);
		}
	}

	// .cart-header__link

	&__link {
		color:$mainActionColor;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

//=====================================================================

.header {
	
	// .header__catalog

	&__catalog {
		
	}
}
.catalog-header {
	position: relative;
	background-color: $mainDarkColor;
	color: #fff;
	
	// .catalog-header__container

	&__container {
		padding: 0;
	}

	// .catalog-header__menu

	&__menu {
		@media(max-width: $mobileSmall) {
			padding: rem(20) 0;
		}
	}
}

.menu-catalog {
	
	// .menu-catalog__list

	&__list {
		
		display: flex;
		column-gap: rem(10);
		justify-content: space-between;
		@media(max-width: $tablet) {
			flex-direction: column;
			row-gap: rem(25);
		}
	}

	// .menu-catalog__item

	&__item {
		
	}

	// .menu-catalog__link

	&__link {
		display: flex;
		font-size: rem(18);
		font-weight: 500;
		line-height: (22 / 16);
		color: #fff;
		position: relative;
		transition: color 0.3s ease 0s;
			&[data-parent] {
				&:before {
					@extend %ic;
					@extend ._icon-arrow-bottom;
					display: none;
					@media(max-width: $tablet) {
						transform: rotate(-90deg);
						display: block;
						font-size: rem(10);
					}
				}
				@media(max-width: $tablet) {
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-between;
				}
			}
		@media(min-width: $tablet) {
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: rem(70);
			padding: 0px rem(10);
			
		}
		&::after {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 1px;
			width: calc(100% - 1.25rem);
			background-color: $mainActionColor;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			&::after {
				opacity: 1;
				visibility: visible;
			}
			color: $mainActionColor;
		}
		@media(min-width: $tablet) {
			&._sub-menu-active {
				&::after {
					opacity: 1;
					visibility: visible;
				}
				color: $mainActionColor;
				
			}
		}
		@media(max-width: $tablet) {
			display: inline-block;
			font-size: 20px;
			&::after {
				width: 100%;
				left: 0;
			}
		}
	}

	// .menu-catalog__sub-menu

	&__sub-menu {
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $mainDarkColor;
		
	}
	&__back {
		display: none;
		background-color: $mainDarkColor;
		color: #ECF1F2;
		font-size: rem(16);
		
		&::before {
			color: #fff;
			margin: 0px em(13, 30) 0px 0px;
		}
		span {
			font-family: $fontfamily;
			line-height: rem(20);
			font-size: rem(16);
		}
		@media(max-width: $tablet) {
			display: inline-block;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: em(60, 30);
			}
		}
	}
	@media(max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(35) rem(15) rem(50) rem(15);
		transition: left 0.3s ease 0s;
		.catalog-open & {
			left: 0;
			z-index: 3;
		}
	}
}

.sub-menu-catalog {
	@media(max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(35) rem(15) rem(50) rem(15);
		transition: left 0.3s ease 0s;
		
		.sub-menu-open & {
			display: block;
			left: 0;
			z-index: 3;
		}
	}
	&__back {
		display: none;
		background-color: $mainDarkColor;
		color: #ECF1F2;
		font-size: rem(16);
		padding-bottom: rem(25);
		&::before {
			color: #fff;
			margin: 0px em(13, 30) 0px 0px;
		}
		span {
			font-family: $fontfamily;
			line-height: rem(20);
			font-size: rem(16);
		}
		@media(max-width: $tablet) {
			display: inline-block;
			align-items: center;
		}
	}
	// .sub-menu-catalog__block

	&__block {
		
		padding-bottom: rem(30);
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;
			@media(max-width: $tablet) {
				display: block;
			}
		}
		
	}

	&__container {
		
		@media(min-width: $tablet) {
			padding: 0px rem(10);
		}
		@media(max-width: $tablet) {
			&.container {
				padding: 0;
			}
		}
	}

	// .sub-menu-catalog__category

	&__category {
		font-size: rem(16);
		line-height: (20 / 16);
		
		&:hover {
			text-decoration: underline;
			color: $mainActionColor;
		}
		@media(min-width: $tablet) {
			font-weight: 700;
			padding: rem(30) rem(15) rem(30) 0;
			
		}
		@media(max-width:$tablet) {
			&:not(:last-child) {
				margin-bottom: em(25, 16);
			}
		}
	}
	&__link-category {
		color: #fff;
		@media(max-width: $tablet) {
			font-size: rem(20);
		}
	}
	// .sub-menu-catalog__list

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media(max-width: $tablet) {
			display: none;
		}
	}

	// .sub-menu-catalog__item

	&__item {
		& :hover {
			text-decoration: underline;
			
		}
	}

	// .sub-menu-catalog__link

	&__link {
		font-size: rem(16);
		line-height: (20 / 16);
		color: #fff;
		
	}

		// .sub-menu-catalog__footer

		&__footer {
			padding: rem(30) rem(15) rem(30) 0;
			@media(max-width: $tablet) {
				display: none;
			}
		}


	// .sub-menu-catalog__all

	&__all {
		font-size: rem(16);
		color: $mainActionColor;
		&:hover {
			text-decoration: underline;
		}
	}
}



//=====================================================================

	/*.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		background-color: #000;
		z-index: 5;
		span{@include anim(0.3s,0s);
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.icon-menu {
	@media(max-width: 992px) {
		display: block;
		position: relative;
		width: rem(30); 
		height: rem(18);
		background-color: $mainDarkColor;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
		}
	}
}
