@use "sass:math";
//REM
@function rem($px) {
	$result: ($px / 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: ($px / $current) + em;
	@return $result;
}
//Percent
@function percent($px, $from) {
	$result: ($px / $from) * 100%;
	@return $result;
}



//@import "base/mixins";

//<МИКСИНЫ>===============================================================================================
@import "_mixins";


//</МИКСИНЫ>===============================================================================================
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}
//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');
//</Подключаем шрифты>=======================================================================================
@import "fonts/_font";
//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Montserrat";
$fontSize: rem(18);


//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320;
$mw: 1620;
$md1: $mw + 12;
$md2: 1400;
$md3: 1200;
$md4: 992;
$md5: 768;
$md6: 576;
$md7: 320;



//</ПЕРЕМЕННЫЕ>===========================================================================================================
$mainDarkColor: #141414;
$mainColor: #000000;
$mainBorderLineColor: rgba(20, 20, 20, 0.15);
$mainActionColor: #e8aa31;
$mainGreyColor: #ABABAB;
$mainFooterColor: rgba(255, 255, 255, 0.8);
$mainWhiteColor: #FFFFFF;
$mainBorderColor: #CBCBCB;

// Брейк-поинты
//$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Сайт загружен
	.loaded & {
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0px 15px;
	width: 100%;

}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "_common";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "_header";
@import "_footer";
@import "_button";
@import "_tippy";
@import "_swiper";
@import "_input";
@import "_select";
@import "_spollers";
@import "_popup";
@import "_rating";
@import "_new-products";
@import "_catalog";
@import "_range";
@import "_checkbox";
@import "_quantity";
//</ПОДКЛЮЧЕНИЕ СТИЛЕЙ ОТДЕЛЬНЫХ СТРАНИЦ>====================================================================================================
@import "_home";
@import "_catalog";
@import "_product";
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	// .page_home
	&_home {
	}
	// .page_inner
	&_inner {
		padding-top: rem(30);
	}
	// .page__header
	&__header {
		margin-bottom: rem((30));
	}
	// .page__main-block
	&__main-block {
	}
	// .page__catalog-cards
	&__catalog-cards {
	}
	// .page__products-slider
	&__products-slider {
	}
	// .page__new-products
	&__new-products {
	}
	// .page__article-slider
	&__article-slider {
	}
	// .page__products-block
	&__products-block {
	}
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
